<nav>
  <h1 routerLink="">Super App</h1>
  <ul>
    <li>
      <a
        routerLink=""
        routerLinkActive="active-a"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="products" routerLinkActive="active-a">Products</a></li>
    <li><a routerLink="services" routerLinkActive="active-a">Services</a></li>
    <li>
      <a routerLink="achievements" routerLinkActive="active-a">Achievements</a>
    </li>
    <li>
      <a routerLink="contactus" routerLinkActive="active-a">Contact us</a>
    </li>
    <li>
      <a routerLink="ourresults" routerLinkActive="active-a">Our Results</a>
    </li>
  </ul>
</nav>
